In [1]:
import os
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [2]:
cd /content/drive/MyDrive/Github/DataScience2023

/content/drive/MyDrive/Github/DataScience2023

In [3]:
!git remote remove origin
!git remote add origin https://AnYeHyeon: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@github.com/AnYeHyeon/DataScience2023.git

In [4]:
!git config --global user.email 'ahnyh4756@gmail.com'
!git config --global user.name 'AnYeHyeon'

In [6]:
!git add -A
!git commit -m "Connect Google Colab and Drive"

[main 987badb] Connect Google Colab and Drive
 3 files changed, 2 insertions(+), 3 deletions(-)
 delete mode 100644 Untitled0.ipynb
 rewrite "\341\204\220\341\205\241\341\204\213\341\205\265\341\204\220\341\205\241\341\204\202\341\205\265\341\206\250\341\204\211\341\205\242\341\206\274\341\204\214\341\205\251\341\206\253\341\204\213\341\205\250\341\204\216\341\205\263\341\206\250.ipynb" (97%)
 rewrite "\341\204\222\341\205\254\341\204\200\341\205\261\341\204\206\341\205\251\341\204\222\341\205\247\341\206\274\341\204\213\341\205\264 \341\204\221\341\205\247\341\206\274\341\204\200\341\205\241.ipynb" (85%)

In [ ]:
!git push -u origin main.

In [12]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/AnYeHyeon/DataScience_2023S/master/data/auto.csv")
df

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,mpg
0,8,307.0,130.0,3504.0,12.0,70,1,18.0
1,8,350.0,165.0,3693.0,11.5,70,1,15.0
2,8,318.0,150.0,3436.0,11.0,70,1,18.0
3,8,304.0,150.0,3433.0,12.0,70,1,16.0
4,8,302.0,140.0,3449.0,10.5,70,1,17.0
...,...,...,...,...,...,...,...,...
387,4,140.0,86.0,2790.0,15.6,82,1,27.0
388,4,97.0,52.0,2130.0,24.6,82,2,44.0
389,4,135.0,84.0,2295.0,11.6,82,1,32.0
390,4,120.0,79.0,2625.0,18.6,82,1,28.0
391,4,119.0,82.0,2720.0,19.4,82,1,31.0

#전처리

In [13]:
# One_hot Encodding
df = pd.get_dummies(df, columns=['origin'])
df

,cylinders,displacement,horsepower,weight,acceleration,model_year,mpg,origin_1,origin_2,origin_3
0,8,307.0,130.0,3504.0,12.0,70,18.0,1,0,0
1,8,350.0,165.0,3693.0,11.5,70,15.0,1,0,0
2,8,318.0,150.0,3436.0,11.0,70,18.0,1,0,0
3,8,304.0,150.0,3433.0,12.0,70,16.0,1,0,0
4,8,302.0,140.0,3449.0,10.5,70,17.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
387,4,140.0,86.0,2790.0,15.6,82,27.0,1,0,0
388,4,97.0,52.0,2130.0,24.6,82,44.0,0,1,0
389,4,135.0,84.0,2295.0,11.6,82,32.0,1,0,0
390,4,120.0,79.0,2625.0,18.6,82,28.0,1,0,0
391,4,119.0,82.0,2720.0,19.4,82,31.0,1,0,0

# 독립변수, 종속변수 나누기

In [15]:
y = df['mpg']
X = df.drop(columns=['mpg'])

In [16]:
X

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin_1,origin_2,origin_3
0,8,307.0,130.0,3504.0,12.0,70,1,0,0
1,8,350.0,165.0,3693.0,11.5,70,1,0,0
2,8,318.0,150.0,3436.0,11.0,70,1,0,0
3,8,304.0,150.0,3433.0,12.0,70,1,0,0
4,8,302.0,140.0,3449.0,10.5,70,1,0,0
...,...,...,...,...,...,...,...,...,...
387,4,140.0,86.0,2790.0,15.6,82,1,0,0
388,4,97.0,52.0,2130.0,24.6,82,0,1,0
389,4,135.0,84.0,2295.0,11.6,82,1,0,0
390,4,120.0,79.0,2625.0,18.6,82,1,0,0
391,4,119.0,82.0,2720.0,19.4,82,1,0,0